.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0; 
}

.floorImg{
    height:800px;
    width:1600px;

}

.FloorTabs{
    margin-top:10px;

}
.FloorTabItem{
    cursor: pointer;
}
.unselectable {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.imageContainer{
    position:absolute;
}

.DeviceInput{
    min-width:200px;
}
.DeviceSvg{
    position: absolute;
}

rect {
    position: absolute;
    width: 19px;
    height: 19px;
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-property: -webkit-transform;
    -moz-transition-property: -moz-transform;
    -o-transition-property: -o-transform;
    transition-property: transform;
}

rect:hover {
        rx:15;
    }

.spinner-border{
    width: 3rem;
    height: 3rem;
}